//LE MAIN
main{
    @include border(red);
}
.titres{
    @include border(grey);
    background-color: $bgc_titres-button-restaurants;
    text-align: center;
    padding: $standard;
    & h1{
        font-size: 1.5rem;
        margin-bottom: $standard;
        margin-top: 2rem;
    }
    & h2{
        font-size: 1.1rem;
        font-weight: normal;
        color: gray;
        margin-bottom: 2rem;
    }
}
//FONCTIONNEMENT
.fonctionnement{
    @include border(green);
    padding-bottom: 3rem;
    & h2{
        padding: $standard;
    }
    &__etapes{
        display: flex;
        background-color: $bgc_titres-button-restaurants;
        border-radius: 1rem;
        margin: 1.5rem;
        align-items: center;
        @include box_shadow;
        height: 10vh;
        &:hover{
            background-color: #f4edfe;
        }
        & span{
            @include DisplayF_justifyCC;
            margin-right: 1.5rem;
            margin-left: -0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            align-items: center;
            border-radius: 10rem;
            background-color: #8b59d5;
            color: $primary_bright_color;
        }
        & i{
            margin-right: 1.5rem;
            color: gray;
            &:hover{
                color: #8b59d5;
            }
        }
    }
}
//RESTAURANTS
.restaurants{
    @include border(lightpink);
    background-color: $bgc_titres-button-restaurants;
    padding-bottom: 3rem;
    & a{
        text-decoration: none;
        color: $primary_dark_color;
    }
    & h2{
        padding: $standard;
    }
    &__carte{
        position: relative;
        border-radius: $standard;
        background-color: $primary_bright_color;
        margin: $standard;
        @include box_shadow;
        &-img img{
            width: 100%;
            border-radius: 1rem 1rem 0rem 0rem;
            height: 24vh;
            object-fit: cover;
        }
        .restaurants__carte-img-nouveaute{
            width: 25%;
            height: 4vh;
            top: 5%;
            right: 3%;
            position: absolute;
            border-radius: 0;
        }
        &-nom{
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;
            padding-left: $standard;
            padding-right: $standard;
            & h3{
                margin: 0;
                font-size: 1rem;
            }
            & h4{
                margin-top: .5rem;
                margin-bottom: $standard;
                font-weight: lighter;
            }
        }
        // COEUR FAVORIS
        &-favoris{
            // ICI PAS INDISPENSABLE MAIS LE METTRE POUR RAPPEL
            position: relative;
            display: flex;
            align-items: center;
            .similar{
                font-size: 25px;
                // ON SUPPERPOSE LES 2 COEURS. DIV PARENT = restaurants__carte-favoris
                position: absolute;
                right: 0px;
                top: 10px;
            }
            &:hover {
                .plein{
                    opacity: 1;
                    // AXE Y (HAUT/BAS)
                    transform: translateY(0);
                    // ALL POUR TOUS LES EFFETS APPLIQUES
                    transition: all 1s;
                }
                .vide{
                        opacity: 0;
                        // ON JOUE SUR LA PROPRIETE OPACITE
                        transition: opacity 0.3s ;
                    }
            }
            .plein{
                transition: all 1s;
                background: rgb(139,89,213);
                // background: linear-gradient(90deg, rgba(139,89,213,1) 0%, rgba(139,89,213,1) 35%, rgba(0,212,255,1) 100%);
                opacity: 0;
                transform: translateY(15px);
                background-clip: text;
                color: #8b59d5;
                

            }
        }

    }
}
//FIN DU MAIN
