//LE MAIN
.titres{
    background-color: $bgc_titres-button-restaurants;
    text-align: center;
    padding: $standard;
    & h1{
        font-size: 1.5rem;
        margin-bottom: $standard;
        margin-top: 2rem;
        & br{
            @include desktop{
                display: none;
            }
        }
    }
    & h2{
        font-size: 1.1rem;
        font-weight: normal;
        color: gray;
        margin-bottom: 2rem;
        & br{
            @include desktop{
                display: none;
            }
        }
    }
}
//FONCTIONNEMENT
.fonctionnement{
    padding-bottom: 3rem;
    & h2{
        padding: $standard;
        @include tablette{
            text-align: center;
        }
        @include desktop{
            text-align: center;
        }
    }
    &__container-desktop{
        @include desktop{
        display: flex;
        justify-content: space-around;
        }
    }
    &__etapes{
        display: flex;
        background-color: $bgc_titres-button-restaurants;
        border-radius: 1rem;
        margin: 1.5rem;
        align-items: center;
        @include box_shadow;
        height: 10vh;
        @include desktop{
            width: 30%;
        }
        &:hover{
            background-color: #f4edfe;
        }
        &:hover i{
            color: #8b59d5;
        }
        & span{
            @include DisplayF_justifyCC;
            margin-right: 1.5rem;
            margin-left: -0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            align-items: center;
            border-radius: 10rem;
            background-color: #8b59d5;
            color: $primary_bright_color;
            @include tablette{
                width: 2rem;
                height: 2rem; 
            }
            @include desktop{
                width: 2.5rem;
                height: 2.5rem; 
            }
        }
        & i{
            margin-right: 1.5rem;
            color: gray;
            @include tablette{
                font-size: 1.5rem;
            }
            @include desktop{
                font-size: 1.5rem;
            }
        }
    }
}
//RESTAURANTS
.restaurants{
    background-color: $bgc_titres-button-restaurants;
    padding-bottom: 3rem;
    &__container-desktop{
            @include desktop{
        display: flex;
        justify-content: space-around;
    }
    @include tablette{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
    }
    & a{
        text-decoration: none;
        color: $primary_dark_color;
        @include tablette{
            width: 50%;
        }
        @include desktop{
            width: 45%;
        }
    }
    & h2{
        padding: $standard;
        @include tablette{
            text-align: center;
        }
        @include desktop{
            text-align: center;
        }
    }
    &__carte{
        position: relative;
        border-radius: $standard;
        background-color: $primary_bright_color;
        margin: $standard;
        @include box_shadow;
        @include desktop{
            width: 100%;
        }
        &-img img{
            width: 100%;
            border-radius: 1rem 1rem 0rem 0rem;
            height: 24vh;
            object-fit: cover;
        }
        .restaurants__carte-img-nouveaute{
            width: 30%;
            height: 4vh;
            top: 5%;
            right: 3%;
            position: absolute;
            border-radius: 0;
            @include desktop{
                width: 18%;
            }
        }
        &-nom{
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;
            padding-left: $standard;
            padding-right: $standard;
            & h3{
                margin: 0;
                font-size: 1rem;
            }
            & h4{
                margin-top: .5rem;
                margin-bottom: $standard;
                font-weight: lighter;
            }
        }
    }
}
//FIN DU MAIN
