//LE MAIN
.titres{
    background-color: $bgc_titres-button-restaurants;
    text-align: $center;
    padding: $remStandard;
    & h1{
        font-size: 1.5rem;
        margin-bottom: $remStandard;
        margin-top: $remStandard * 2;
        & br{
            @include desktop{
                display: none;
            }
        }
    }
    & h2{
        font-size: 1.1rem;
        font-weight: normal;
        color: gray;
        margin-bottom: $remStandard * 2;
        & br{
            @include desktop{
                display: none;
            }
        }
    }
}
//FONCTIONNEMENT
.fonctionnement{
    padding-bottom: $remStandard * 3;
    & h2{
        padding: $remStandard;
        @include tablette{
            text-align: $center;
        }
        @include desktop{
            text-align: $center;
        }
    }
    &__container-desktop{
        @include desktop{
        @include DF_JCSA
        }
    }
    &__etapes{
        display: $dFlex;
        background-color: $bgc_titres-button-restaurants;
        border-radius: $remStandard;
        margin: 1.5rem;
        align-items: $center;
        @include box_shadow;
        height: 10vh;
        @include desktop{
            width: percentage($number: 0.3);
        }
        &:hover{
            background-color: #f4edfe;
        }
        &:hover i{
            color: $secondary_color;
        }
        & span{
            @include DF_JCC;
            margin-right: 1.5rem;
            margin-left: -0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            align-items: $center;
            border-radius: $remStandard * 10;
            background-color: $secondary_color;
            color: $primary_bright_color;
            @include tablette{
                width: $remStandard * 2;
                height: $remStandard * 2; 
            }
            @include desktop{
                width: 2.5rem;
                height: 2.5rem; 
            }
        }
        & i{
            margin-right: 1.5rem;
            color: gray;
            @include tablette{
                font-size: 1.5rem;
            }
            @include desktop{
                font-size: 1.5rem;
            }
        }
    }
}
//RESTAURANTS
.restaurants{
    background-color: $bgc_titres-button-restaurants;
    padding-bottom: $remStandard * 3;
    &__container-desktop{
            @include desktop{
                @include DF_JCSA;
    }
    @include tablette{
        @include DF_JCSA;
        flex-wrap: wrap;
        }
    }
    & a{
        text-decoration: none;
        color: $primary_dark_color;
        @include tablette{
            width: percentage($number: 0.5);
        }
        @include desktop{
            width: percentage($number: 0.45);
        }
    }
    & h2{
        padding: $remStandard;
        padding-top: $remStandard * 2;
        @include tablette{
            text-align: $center;
        }
        @include desktop{
            text-align: $center;
        }
    }
    &__carte{
        position: relative;
        border-radius: $remStandard;
        background-color: $primary_bright_color;
        margin: $remStandard;
        @include box_shadow;
        @include desktop{
            width: percentage($number: 1);
        }
        &-img img{
            width: percentage($number: 1);
            border-radius: 1rem 1rem 0rem 0rem;
            height: 24vh;
            object-fit: cover;
        }
        .restaurants__carte-img-nouveaute{
            width: percentage($number: 0.3);
            height: 4vh;
            top: percentage($number: 0.05);
            right: percentage($number: 0.03);
            position: absolute;
            border-radius: $null;
            @include desktop{
                width: percentage($number: 0.18);
            }
        }
        &-nom{
            @include DF_JCSB;
            padding-top: .5rem;
            padding-left: $remStandard;
            padding-right: $remStandard;
            & h3{
                margin: $null;
                font-size: $remStandard;
            }
            & h4{
                margin-top: .5rem;
                margin-bottom: $remStandard;
                font-weight: lighter;
            }
        }
    }
}
//FIN DU MAIN
