//MAIN DE LA PAGE MENUS
main{
    @include border(orange)
}
.illustration{
    @include border(hotpink);
    & img{
        width: 100%
    }
}
.position{
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 10vh;
    background-color: #f6f6f6;
    position: absolute;
    top: 44%;
}
.menu{
    @include border(green);
    background-color: $bgc_titres-button-restaurants;
    padding: $standard;
    position: relative;
    padding-top: $nul;
    & button{
        margin-top: 3rem;
        & a{
            text-decoration: none;
            color: $primary_bright_color;
        }
    }
    &__titre{
        @include DF_JCC_AIC;
    }
    &__description{
        @include border (brown);
        &-titre{
            & h3{
                margin-bottom: $nul;
                font-weight: normal;
            }
        }
        &-titre hr{
            border: none;
            height: 4px;
            background-color: #a9e0d1;
            width: 15%;
            position: relative;
            right: 9rem;
        }
        &-card{
            transition: ajout 2s;
            @include border (yellow);
            border-radius: $standard;
            @include box_shadow;
            margin-bottom: $standard;
            background-color: $primary_bright_color;
            padding-left: .8rem;
            &:hover{
                margin-right:60px;
                // animation: menu__selection 3s ease-in-out 0s 1 normal forwards;
                // transform: translateX(-50px);
                // margin-left:-30px;
                // transform: scaleX(80%);
                // transform: skew(10deg, 20deg);
                // transform: translate(0px, 20%);
                // transform: rotate(0.5turn) ;
                // transform: scale(1) translate(-20%);
            }
            & h4{
                margin: 0.5rem;
                margin-left: $nul;
            }
                &-prix{
                @include border (hotpink);
                @include DF_JCS-A;
                    & p{
                    margin: 0.5rem;
                    margin-left: $nul;
                    }
                }
        }   
    }
}

