//MAIN DE LA PAGE MENUS
.illustration{
    @include tablette{
        height: 50vh;
    }
    @include desktop{
        height: 50vh;
    }
    & img{
        width: percentage($number: 1);
        @include tablette{
            object-fit: cover;
            height: 50vh;
        }
        @include desktop{
            object-fit: cover;
            height: 50vh;
        }
    }
    &__image_portrait{
        height: 38vh;
        object-fit: cover;
        width: percentage($number: 1);
        @include tablette{
            object-fit: cover;
            height: 50vh;
        }
        @include desktop{
            object-fit: cover;
            height: 50vh;
        }
    }
}
.position{
    border-radius: 2rem 2rem 0rem 0rem;
    width: percentage($number: 1);
    height: 10vh;
    background-color: #f6f6f6;
    position: absolute;
    top: percentage($number: 0.44);
    @include tablette{
        top: percentage($number: 0.55);
    }
    @include desktop{
        top: percentage($number: 0.55);
    }
}
.menu{
    background-color: $bgc_titres-button-restaurants;
    padding: $remStandard;
    position: relative;
    padding-top: $null;
    &__container-desktop{
        @include desktop{
            @include DF_JCSA;
        }
    }
    & .apparition_un, .apparition_deux, .apparition_trois{
        @include desktop{
            width: percentage($number: 0.32);
        }
    }
    & button{
        margin-top: $remStandard * 3;
        & a{
            text-decoration: none;
            color: $primary_bright_color;
        }
    }
    &__titre{
        @include DF_JCSA_AIC;
        @include desktop{
            justify-content: space-around;
        }
        & h2{
            margin: $remStandard;
        }
    }
    &__description{
        width: percentage($number: 1);
        &-titre{
            & h3{
                margin-bottom: $null;
                font-weight: normal;
                @include desktop{
                    text-align: $center;
                }
                @include tablette{
                    text-align: $center;
                }
            }
        }
        &-titre{
            margin-top: $remStandard * 2;
            position: relative;
        }
        &-titre hr{
            border: none;
            height: 4px;
            background-color: $tertiary_color;
            width: percentage($number: 0.15);
            position: absolute;
            left: percentage($number: 0);
            @include tablette{
                right: $null;
            }
            @include desktop{
                right: $null;
            }

        }
    }
}
