//LES MIXINS
@mixin border($color: blue){
    border: 2px solid $color
}
@mixin box_shadow{
    box-shadow: 5px 3px 10px 0px lightgray;
}
@mixin DisplayF_justifyCC{
    display: flex;
    justify-content: center;
}

