//LES MIXINS
@mixin border($color: blue){
    border: 2px solid $color
}
@mixin box_shadow(){
    box-shadow: 5px 3px 10px 0px lightgray;
}
@mixin DisplayF_justifyCC{
    display: flex;
    justify-content: center;
}
@mixin DF_JCS-A{
    display: flex;
    justify-content: space-between;
}
@mixin DF_JCC_AIC{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// MEDIAQUERIES (MOBILE FIRST)
$breakpoints: (
    tablette: 481px,
    desktop: 1025px
);
    // TABLETTE
    @mixin tablette {
        @media screen and (min-width: map-get($breakpoints, tablette)){
            @content;
        }
      }

    // ORDINATEUR
    @mixin desktop {
        @media screen and (min-width: map-get($breakpoints, desktop)){
            @content;
        }
      }

