//LES VARIABLES
$primary_bright_color: white;
$primary_dark_color: black;
$bgc_titres-button-restaurants: #f6f6f6;
$bgc_localisation: #eaeaea;
$bgc_footer: #353535;
$standard : 1rem;
$nul : 0rem;
$bgc_button_hover : linear-gradient(#da79d5, #9e61d4);