//BOUTON PAGE ACCUEIL
button{
    border: none;
    display: block;
    margin: auto;
    height: 7vh;
    width: percentage($number: 0.7);
    @include box_shadow;
    border-radius: $remStandard * 2 ;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: $remStandard * 3;
    color: $primary_bright_color;
    background: $bgc_button_hover;
    position: relative;
    z-index: $null;
    @include tablette{
        width: percentage($number: 0.45);
    }
    @include desktop{
        width: percentage($number: 0.25);
    }
    &:hover{
        &::after{
            opacity: $standard;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: $null;
        right: $null;
        bottom: $null;  
        left: $null;
        background-color: lighten($primary_color, 5);
        box-shadow: 5px 3px 10px 0px grey;
        border-radius: $remStandard * 2;
        opacity: $null;
        z-index: -1;
        transition: opacity 250ms;
    }
    & a{
        text-decoration: none;
        color: $primary_bright_color;
    }
}