// LOADING SPINNER
.lds-circle {
  width: 100%;
  height: 100vh;
  position: fixed;
   z-index: 1;
  animation: lds-circle-bgc 4s ease-in-out 0s 1 normal forwards;
  &__contain {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: linear-gradient(#da79d5, #9e61d4);
    animation: lds-circle 5s cubic-bezier(0.2, 0.5, 0.8, 1);
    position: relative;
    top: 15%;
    left: 38%;
    @include tablette{
      left: 45%;
      top: 50%
    }
    @include desktop{
      left: 48%;
      top: 50%
    }
        &-img{
          display: flex;
          justify-content: center;
          }
      }
  }
  
  @keyframes lds-circle {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(2000deg);
    }
  }

  @keyframes lds-circle-bgc {
    0% {
      background-color: #9e61d4;
      opacity: 1;
    }
    50% {
      z-index: 1;
      background-color: #9e61d4;
    }
    100% {
      z-index: -1;
      opacity: 0;
      background-color: #9e61d4;
    }
  }

        // COEUR FAVORIS
        .restaurants__carte-favoris{
          // ICI PAS INDISPENSABLE MAIS LE METTRE POUR RAPPEL
          position: relative;
          display: flex;
          align-items: center;
          .similar{
              font-size: 25px;
              // ON SUPERPOSE LES 2 COEURS. DIV PARENT = restaurants__carte-favoris
              position: absolute;
              right: 0px;
              top: 10px;
              color: grey;
          }
          &:hover {
              .plein{
                  opacity: 1;
                  // AXE Y (HAUT/BAS)
                  transform: translateY(0);
                  // ALL POUR TOUS LES EFFETS APPLIQUES
                  transition: all 1s;
              }
              .vide{
                      opacity: 0;
                      // ON JOUE SUR LA PROPRIETE OPACITE
                      transition: opacity 0.3s ;
                  }
          }
          .plein{
              transition: all 1s;
              background: linear-gradient(#da79d5, #9e61d4);
              opacity: 0;
              transform: translateY(15px);
              background-clip: text;
              color: transparent;
              -webkit-background-clip: text;
              
          }
      }

  

// APPARITION PROGRESSIVE ENTREE + PLAT + DESSERT PAGES MENU
.apparition_un{
  opacity:0;
  animation: apparition 0.5s linear forwards 0.3s;
}
.apparition_deux{
  opacity:0;
  animation: apparition 0.5s linear forwards 0.8s;
}
.apparition_trois{
  opacity:0;
  animation: apparition 0.5s linear forwards 1.2s;
}
@keyframes apparition {
 0%  {opacity:0;}
 100% {opacity:1;}
}









