//LE FOOTER
footer{
    background-color: $bgc_footer;
    padding: 1.5rem;
    @include tablette{
        @include DF_JCSA;
    }
    & p{
        margin: $null
    }
    .aligner{
        padding-left: 0.4rem;
    }
}
.logo_footer{
    @include desktop{
        display: $dFlex;
    }
    & img{
        margin-bottom: $remStandard;
        width: $remStandard * 7;
        filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(122deg) brightness(109%) contrast(102%);
        @include desktop{
            filter: invert(96%) sepia(7%) saturate(1189%) hue-rotate(94deg) brightness(91%) contrast(92%);
        }
        @include tablette{
            filter: invert(96%) sepia(7%) saturate(1189%) hue-rotate(94deg) brightness(91%) contrast(92%);
        }
    }
}
//MENTIONS
.mentions{
    @include desktop{
        text-align: $center;
    }
    & a{
        text-decoration: none;
        color: $primary_bright_color;
    }
    &__emoticone{
        display: $dFlex;
        align-items: $center;
        margin-bottom: $remStandard / 2;
        & i{
            color: $primary_bright_color;
            padding-right: $remStandard;
        }
    }
    &__sans-emoticone a{
        text-decoration: none;
        color: $primary_bright_color;
    }
    &__sans-emoticone p{
        margin-bottom: $remStandard / 2;
    }
}

