//HEADER DE LA PAGE D'ACCUEIL
.logo{
    @include DF_JCC;
    padding: $remStandard;
    & img{
        width: $remStandard * 10;
        @include tablette{
            width: $remStandard * 15;
        }
        @include desktop{
            width: $remStandard * 15;
        }
    }
}
.localisation{
    @include DF_JCC;
    background-color: $bgc_localisation;
    align-items: $center;
    box-shadow: 5px 0px 5px gray;
    & p{
        color: #3f3f3f;
    }
    & i{
        padding-right: $remStandard;
    }
}

//LE HEADER DES PAGES MENU
.nav{
    @include DF_JCC;
    padding: $remStandard;
    align-items: $center;
    & img{
        width: $remStandard * 10;
        @include tablette{
            width: $remStandard * 15;
        }
        @include desktop{
            width: $remStandard * 15;
        }
    }
    & i{
        color: $primary_dark_color;
        position: relative;
        right: $remStandard * 4;
    }
}

