.menu h2{
    font-family: "Shrikhand", sans-serif;
    margin: 0;
}
@font-face{
    font-family: Shrikhand, Roboto;
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Thin.ttf)
}