h1,h2,h3,h4,h5,h6{
    font-family: "Shrikhand", sans-serif;
}
@font-face{
    font-family: Shrikhand, Roboto;
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Thin.ttf)
}